@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}

body {
  height: 100vh;
  background: url("~/src/assets/bg.jpg") no-repeat;
  background-color: var(--body);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

:root {
  --primary: #fff;
  --body: #fff;
  --text-menu: #fff;
  --text-body: #4b4b4b;
}

:root .dark-theme {
  --primary: #000;
  --body: #4b4b4b;
  --text-menu: #fff;
  --text-body: #fff;
}